# Server Configuration
PORT=10000

# MongoDB Configuration
MONGODB_URI=mongodb://root:example@database:27017/UniRide
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/UniRide

# Client URL Configuration
CLIENT_URL=http://localhost:10000

# JWT Configuration
JWT_SECRET=superSecretKey123

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email Configuration
SENDER_EMAIL=no-reply@ridemate.com
RESEND_EMAIL_API_KEY=RESEND_EMAIL_API_KEY

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
